<nav class="navbar">
  <div id="navbarItems">
    <a id="navbarText" href="/">Home</a>
    <a id="navbarText" href="/about">About Me</a>
    <a id="navbarText" href="/projects">Projects</a>
    <a id="navbarText" href="/creative">Creative</a>
  </div>
</nav>
