body {
  background-color: black
}

.navbar {
  background-color: hotpink;
  color: teal;
  height: 50px;
  text-align: right;
}

#navbarItems {
  font-size: 25px;
  font-family: helvetica;
  text-align: right;
  padding-top: 8px;
  padding-bottom: 6px
}

#navbarText {
  margin: 5px
}

.page {
  color: white;
  font-family: helvetica;
  display: flex;
  flex-direction: column;

}

.projects {
  display: flex;
  flex-direction: row;
}

.oneProj {
  display: flex;
  flex-direction: column;
  width: 25%;
  justify-content: center;
  align-items: center;
  background-color: teal;
  margin: auto;
  text-align: center;
}

.home {
  display: flex;
  flex-direction: column;
  width: 33%;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
}

.about {
  display: flex;
  flex-direction: row;
  padding: 40px;
}

.header {
  padding-left: 40px;
}
