body {
  background-color: black
}

.navbar {
  background-color: hotpink;
  color: teal;
  height: 50px
}

.page {
  color: white;
  font-family: helvetica;
  display: flex;
  flex-direction: column;
}

.projects {
  display: flex;
  flex-direction: row;
}

.oneProj {
  display: flex;
  flex-direction: column;
  width: 25%;
  justify-content: center;
  align-items: center;
  background-color: teal;
  margin: auto;
}
