<%- partial('../partials/navbar.ejs') %>

<div class=page>
  <div>
    <h1>About Me</h1>
  </div>
  <div>
    <body>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae nunc fringilla, porta ligula id, faucibus eros. Sed dapibus odio quis convallis interdum. Quisque eros tortor, pulvinar nec ipsum at, tincidunt pretium est. Phasellus ac urna eget nisi suscipit fermentum. Integer at lacus suscipit, hendrerit ligula lobortis, suscipit nulla. Nulla euismod, nisl porttitor faucibus varius, est ex vestibulum nibh, ut dictum diam urna eget lectus. Quisque at ultricies lectus. Cras malesuada elit tempus, congue ex ac, volutpat sapien. Phasellus efficitur, dui sed pharetra lobortis, elit nibh mattis orci, et cursus lorem nisl non eros. Sed facilisis ut eros nec sollicitudin.
    </body>
  </div>
</div>
