<%- partial('../partials/navbar.ejs') %>

<div class=page>
  <div class=header>
    <h1>Creative Stuff</h1>
    <h3>In addition to being a web developer I'm also a pretty funny guy. Here are some of the creative projects I've worked on.</h3>
  </div>
  <div class=projects>
    <div class=oneProj>
      <h3>Campaign Podcast</h3>
      <a href='http://oneshotpodcast.com/actual-play/campaign/skyjacks/'><img src='/images/flying ship LOGO_redround2.jpg' style="width:200px;height:200px;" alt='Campaign Podcast Logo'></a>
      <p id="navbarText">Skyjacks is an anti-colonial RPG actual play podcast about folktales and sky pirates.</p>
    </div>
    <div class=oneProj>
      <h3>Billbuds Podcast</h3>
      <a href='https://billbudspod.com/'><img src='/images/billbuds-official-thumbail@2x.jpg' style="width:200px;height:200px;" alt='Billbuds Podcast Logo'></a>
      <p id="navbarText">Billbuds is a pop music review podcast by two pop music enthusiasts.</p>
    </div>
    <div class=oneProj>
      <h3>Dilettante Ball</h3>
      <a href='https://arcadeaudio.net/dilettante-ball'><img src='/images/20120923_spencerCastB-1600-sml.jpg' style="width:200px;height:200px;" alt='Dilettante Ball Podcast Logo'></a>
      <p id="navbarText">Dilettante Ball is a podcast where the two hosts get a random article from Wikipedia and talk about it.</p>
    </div>
  </div>
</div>
