<%- partial('../partials/navbar.ejs') %>

<div class=page>
  <div class=home>
    <h1>Johnny O'Mara</h1>
  </div>
  <div >
    <div class= home>
      <img src='/images/headshot.png' style="width:200px;" alt='A very nice photo of Johnny'>
    </div>
    <div class=home>
      <div>
        <p>Hey! I'm Johnny. I'm a fullstack web developer. I also do a bunch of other cool stuff. Take a look around and why not drop me a line?</p>
      </div>
      <div>
        <a href='https://github.com/johnnyomara'><img src='/images/GitHub-Mark-Light-64px.png' style="width:32px;height:32px;" alt='GitHub Logo'></a>
        <a href='https://www.linkedin.com/in/johnnyomara/'><img src='/images/linkedin.png' style="width:38px;height:32px;" alt='LinkedIn Logo'></a>
        <a href='https://twitter.com/JohnnyInBriefs'><img src='/images/twitter.png' style="width:32px;height:32px;" alt='Twitter Logo'></a>
        <a href='https://instagram.com/JohnnyInBriefs'><img src='/images/instagram.png' style="width:32px;height:32px;" alt='Instagram Logo'></a>
      </div>
    </div>
  </div>
</div>
