<%- partial('../partials/navbar.ejs') %>

<div class=page>
  <div>
    <h1>Projects</h1>
  </div>
  <h3>Here are some of the recent projects I've worked on. </h3>
  <div>
    <div>
      <h3>The Upper Crust</h3>
      <body>The Upper Crust is an e-commerce website built by a team of 4 developers in about 1 week using React, Redux, Node, Express, Sequelize, and Stripe Payments. And if I may brag, I baked all the breads that are for sale on the site.</body>
      <a href='https://bread-shopper.herokuapp.com/'><img src='/images/Screen Shot 2020-10-20 at 2.38.47 PM.png' style="width:200px;height:200px;" alt='Upper Crust Page Screenshot'></a>
      <a href='https://github.com/fsa-michaelangelo/grace-shopper'>GitHub</a>
    </div>
    <div>
      <h3>Phutbol</h3>
      <body>Phutbol is a multiplayer soccer game built by a team of 3 developers in about 2 weeks using Phaser, Sockets, and Node</body>
      <a href='https://phutbol.herokuapp.com/'><img src='/images/Screen Shot 2020-10-20 at 2.51.21 PM.png' style="width:200px;height:160px;" alt='Phutbol Screenshot'></a>
      <a href='https://github.com/2006-links-light/phutbol'>GitHub</a>
    </div>
    <div>
      <h3>Pokedex</h3>
      <body>Pokedex is a mobile app used to keep track of which Pokemon a user has caught. It was developed using Firebase, React Native, Redux, and Node. </body>
      <a href='https://expo.io/@johnnyomara/projects/pokedex'><img src='/images/Screen Shot 2020-10-20 at 2.59.55 PM.png' style="width:200px;height:200px;" alt='Pokedex Screenshot'></a>
      <a href='https://github.com/johnnyomara/Pokedex'>GitHub</a>
    </div>
  </div>
</div>

